<div class="jumbotron mt-4">
  <h1>Hello, <span class="text-lowercase">{{ntlm.UserName}}!</span></h1>
  <h4>Welcome to RDA Self 2.0 landing page</h4>
  <hr>
  <li>This site is best viewed in desktop with chromium-based browser</li>
  <li>Minimum display width for proper viewing is 1000px</li>
  <hr>
  <p>Your account details:</p>
  <ul>
    <li>Username: {{user.name}}</li>
    <li>Section: {{user.section}}</li>
    <li>Permission: {{user.permission}}</li>
  </ul>
</div>



<div id="line-container"></div>

<p>Some random content to fill up the page:</p>

<hr>

<div id="Inner">


  <h1>Lorem Ipsum</h1>
  <h4>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h4>
  <h5>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
  </h5>

  <img src="https://drscdn.500px.org/photo/1026186880/q%3D80_m%3D2000/v2?sig=55e5816da635cc71aa730a83f74cc547d8f2d87989fc81660af90ba9f1091b9f" class="img-fluid" alt="Responsive image">

  <hr>

  
  <div id="Content">

    <div class="boxed">
      <!-- 


      If you want to use Lorem Ipsum within another program please contact us for details
      on our API rather than parse the HTML below, we have XML and JSON available.


      -->
      <div id="lipsum">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis ex sed nibh pharetra euismod.
          Pellentesque dictum quam quis lectus bibendum, eu tincidunt sapien ornare. Quisque quis est posuere, vulputate
          nulla mollis, mollis felis. Aenean hendrerit purus neque, ut congue risus venenatis id. Integer cursus, diam
          vel convallis faucibus, neque nunc lacinia dui, quis elementum mauris nisl vitae enim. Proin id finibus augue,
          eu pulvinar neque. Vestibulum auctor libero eget libero dignissim suscipit. Donec hendrerit consequat dapibus.
          Nulla ac odio ut turpis volutpat hendrerit. Fusce sed scelerisque risus. In id est id quam mattis congue.
        </p>
        <p>
          Donec vulputate magna nibh, non consectetur ligula sagittis non. Sed tincidunt elementum sem, sit amet
          facilisis est commodo ut. Vestibulum sed massa vitae erat dictum scelerisque. Suspendisse varius turpis quis
          nulla cursus pellentesque. Maecenas dapibus posuere ante id pellentesque. Donec eget mauris eu turpis auctor
          mollis vel non urna. Donec quis lacus suscipit enim aliquet pretium at dignissim velit. In hac habitasse
          platea dictumst.
        </p>
        <p>
          Suspendisse a venenatis est. Curabitur nec consectetur sem. Pellentesque ultricies cursus cursus. Cras id
          gravida ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam
          porttitor mi risus, in facilisis ex aliquam quis. Donec tristique, lectus eget semper tincidunt, risus justo
          commodo lectus, volutpat aliquam diam ex ut est. Curabitur vel augue nisl. Praesent tempor odio et facilisis
          maximus. Donec felis sapien, hendrerit vitae nunc vehicula, convallis suscipit quam. Donec sit amet lorem
          scelerisque, ornare justo et, bibendum nulla. Phasellus rhoncus luctus ante, in fringilla massa cursus non.
          Aliquam erat volutpat.
        </p>
        <p>
          Sed vestibulum interdum consequat. Etiam a odio nec lorem tempor convallis. Maecenas ante libero, finibus sed
          dictum id, mattis mollis magna. Maecenas non nulla mattis, consequat dui et, auctor augue. In scelerisque
          libero vitae purus vestibulum laoreet lobortis nec velit. Maecenas gravida nisl eget enim aliquam pulvinar.
          Pellentesque quis sem fermentum, congue ipsum quis, rutrum erat. Duis egestas malesuada ante. Cras sit amet
          ante odio. Morbi convallis consequat ligula et dapibus. Mauris tempor blandit tellus a volutpat. Quisque
          dignissim sem vel metus molestie dictum. Fusce elementum pretium magna, in faucibus risus.
        </p>
        <p>
          Vestibulum vehicula eros nunc, ut hendrerit ex ornare eget. Phasellus vel sapien massa. Nulla at sagittis
          lectus. Phasellus eu ex malesuada, efficitur erat sit amet, pharetra urna. Nam eu nisl libero. Maecenas
          tristique ex sed sollicitudin feugiat. Etiam tempor, est sed vulputate fringilla, lectus odio tempus mauris,
          vel cursus risus arcu sed nulla. Pellentesque convallis at erat non hendrerit. Aliquam erat volutpat. Nam
          pharetra lacinia mollis. Pellentesque in odio ante.
        </p>
      </div>
      <div id="generated">Generated 5 paragraphs, 415 words, 2864 bytes of <a href="https://www.lipsum.com/"
          title="Lorem Ipsum">Lorem Ipsum</a></div>
    </div>
  </div>

  <hr>

  <div class="boxed"><a style="text-decoration:none" href="mailto:help@lipsum.com">help@lipsum.com</a><br><a
      style="text-decoration:none" target="_blank" href="/privacy.pdf">Privacy Policy</a></div>



</div>