/* compensate for fixed-top navbar */
body {
  padding-top: 4.5rem;
}

a.anchor {
  display: block;
  position: relative;
  top: -4.5rem;
  visibility: hidden;
}

/* highlight selected row*/
.selected {
  background-color: lavender !important;
}

/* cut padding on table */
table.dataTable tbody td,
table.dataTable thead th,
table.dataTable thead td {
  padding: .3rem;
}