/*jumbotron background image*/
.jumbotron {
  color: white;
  background-image: url("https://drscdn.500px.org/photo/1026186880/q%3D80_m%3D2000/v2?sig=55e5816da635cc71aa730a83f74cc547d8f2d87989fc81660af90ba9f1091b9f");
  background-size: cover;
  background-position: center;
}

/* remove margin top for list after paragraph*/
p + ul {
  margin-top: -1em;
}

/* compensate for fixed-top navbar */
a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

/* textarea no wrap */
textarea {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: auto;
}

/* make the heading above table sticky */
#first-heading {
  position: sticky;
  z-index: 1;
  background-color: white;
}

/* make column sticky */
.head-col {
  position: sticky;
  /*top: 0;*/
  left: 0;
}

thead tr th.head-col {
  z-index: 1;
}

tbody tr td.head-col {
  background-color: white;
}

/* min column width */
.min-width {
  min-width: 20rem;
}

/* colour for the icons */
.fa-plus {
  color: #fd7e14;
}

.fa-pencil-alt {
  color: #15aabf;
}

.fa-trash-alt {
  color: #be4bdb;
}

.fa-copy {
  color: #f783ac;
}

.fa-file-excel {
  color: #82c91e;
}

/* hover colour */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
  background-color: aliceblue;
}

/* highlight selected row*/
.selected {
  background-color: lavender !important;
}

/* to accommodate the head-col css*/
.selected > td.head-col {
  background-color: lavender;
}

/* highlight via bookmark */
.highlighted {
  background-color: lavenderblush !important;
}

/* traffic light */
.traffic-0, .traffic-1 {
  /*height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;*/
  color: white;
  background-color: deeppink !important;
}

.traffic-2 {
  /*height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;*/
  background-color: navajowhite !important;
}

.traffic-3 {
  /*height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;*/
  background-color: springgreen !important;
}

/* rotate table header */
th.rotate > div {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}

/* cut padding on table */
table.dataTable tbody td,
table.dataTable thead th,
table.dataTable thead td {
  padding: .3rem;
}

/* hide DataTable native search bar */
*[id*="the-table_filter"] { 
  display: none; 
}

/* force dt-buttons to be inline */
.dt-buttons {
  white-space: nowrap;
}

/* limit the size of the search bar */
.search-bar {
  max-width: 350px;
}

/* to stick the footer to the bottom only when content is short */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}