/* remove margin top for list after paragraph*/
p + ul {
  margin-top: -1em;
}

/* compensate for fixed-top navbar */
a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

/* make the heading above table sticky */
#first-heading {
  position: sticky;
  z-index: 1;
  background-color: white;
}

/* colour for the icons */
.fa-plus {
  color: #fd7e14;
}

.fa-pencil-alt {
  color: #15aabf;
}

.fa-trash-alt {
  color: #be4bdb;
}

/* hover colour */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
  background-color: aliceblue;
}

/* highlight selected row*/
.selected {
  background-color: lavender !important;
}

.highlighted {
  background-color: lavenderblush !important;
}

/* cut padding on table */
table.dataTable tbody td,
table.dataTable thead th,
table.dataTable thead td {
  padding: .3rem;
}

/* Hide DataTable native search bar */
#the-table_filter { 
  display: none; 
}